<div class="container">
  <div class="row output">
    <span *ngIf="num1 == undefined">...</span>
    <span class="num1" *ngIf="num1 != undefined">{{num1Field}} </span> <span class="op" *ngIf="operated">{{operatorField}} </span> <span class="num2"
      *ngIf="num2 != undefined">{{num2Field}}</span>
  </div>
  <div class="calc">
    <div class="row calc-buttons">
      <button class="num" (click)="updateNum('1')">1</button><button class="num" (click)="updateNum('2')">2</button><button class="num" (click)="updateNum('3')">3</button><button
        class="operator" (click)="setOperator('*')">*</button>
    </div>
    <div class="row calc-buttons">
      <button class="num" (click)="updateNum('4')">4</button><button class="num" (click)="updateNum('5')">5</button><button class="num" (click)="updateNum('6')">6</button><button
        class="operator" (click)="setOperator('+')">+</button>
    </div>
    <div class="row calc-buttons">
      <button class="num" (click)="updateNum('7')">7</button><button class="num" (click)="updateNum('8')">8</button><button class="num" (click)="updateNum('9')">9</button><button
        class="operator" (click)="setOperator('-')">-</button>
    </div>
    <div class="row calc-buttons">
      <button class="reset" (click)="reset()">C</button>
      <button class="num" (click)="updateNum('0')">0</button>
      <button class="equal" (click)="calc()">=</button>
      <button class="operator" (click)="setOperator('/')">/</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>